
/** This file is part of e-Sedra.
 *
 *   e-Sedra is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   e-Sedra is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *   along with e-Sedra.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @copyright Copyright 2023 e-Sedra. All Rights Reserved.
 *
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
}

button > h5{
    text-align:left !important;
}

#backPage {
    position: fixed;
    bottom: 150px;
    left: 30px;
}

.icona:disabled {
    border: none !important;
}
.signal-warning {
    background-color: rgba(var(--bs-warning-rgb), .3) !important;
    margin-left: 0;
    margin-right: 0;
}

.signal-riabi {
    border-color: rgba(var(--bs-warning-rgb), .4) !important;
    border-width: 2px !important;
}
.smalleprimary {
    color: rgba(var(--bs-primary-rgb), .7);
}
.my-card-comment {
}

.not-aval {
    background-color: rgba(var(--bs-secondary-rgb), .2) !important;
}

.completed {
    background-color: rgba(var(--bs-primary-rgb), .2) !important;
}

.card-body.my-blog {
    background-color: rgba(var(--bs-primary-rgb), .2);
    margin-left:0;
    margin-right:0;
}
/*aggiunto filter 29/11 BARBARA
STILE PER LE CALLOUT */
.my-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 0.25rem solid var(--my-border-callout, rgba(var(--bs-primary-rgb), .5));
    background-color: var(--my-bg-callout, rgba(var(--bs-primary-rgb), .25));
}

.my-callout-danger {
    --my-bg-callout: rgba(var(--bs-danger-rgb), .075);
    --my-border-callout: rgba(var(--bs-danger-rgb), .5);
}
.my-callout-info {
    --my-bg-callout: rgba(var(--bs-info-rgb), .075);
    --my-border-callout: rgba(var(--bs-info-rgb), .5);
}
.my-callout-warning {
    --my-bg-callout: rgba(var(--bs-warning-rgb), .075);
    --my-border-callout: rgba(var(--bs-warning-rgb), .5);
}
.my-callout-success {
    --my-bg-callout: rgba(var(--bs-success-rgb), .075);
    --my-border-callout: rgba(var(--bs-success-rgb), .5);
}

/*STILE PER label card dei commenti */

.card {
    margin: 10px auto;
}

.scrollable {
    overflow-y: auto;
/*    max-height: 300px;
*/}

h2 {
    color: var(--bs-warning);
    text-shadow: -1px 0 var(--dark-text), 0 1px var(--dark-text), 1px 0 var(--dark-text), 0 -1px var(--dark-text);
}


#contentPage {
    padding-top: 100px;
    /*min-height: 100%;
    height: auto !important;*/
    /*height: 100%;*/
    /*margin: 0 auto -130px;*/
}

a {
    text-decoration: none;
}


html, button, input, select, textarea{
    /* Set your content font stack here: */
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}

html {
    height: 100%;
}

body {
    color: var(--dark-text);
    height: 100%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.footercopy {
    background-color: rgba(0, 0, 0, 0.2);
}


hr {
    background-color: var(--shadow-color);
}


/* ----- LIST (SELECT TAG) -------*/
.optionGroup {
    font-weight: bold;
    color: var(--bs-primary-color);
    font-style: italic;
}

.optionChild {
    padding-left: .5em;
    color: var(--dark-color);
}

.optionList {
    color: var(--dark-color);
}


